body{
            background-color: #0d0d0d;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #111;
            padding: 20px 60px;
        }

        nav a {
            color: #00e6e6;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
            transition: 0.3s;
        }

        nav a:hover, nav a.active{
            color: #fff;
            text-shadow: 0 0 10px #00e6e6;
        }
        .hero {
         display: flex;
         flex-direction: column;
         align-items: center;
        justify-content: center;
        text-align: center;
        padding: 60px 20px;
      }


        .hero h1{
            font-size: 50px;
            color: #00e6e6;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
          .hero p{
            font-size: 20px;
            color: #00e6e6;
            margin-bottom: 40px;
        }


        form {
            background: #111;
            width: 400px;
            margin: 50px auto;
            padding: 30px;
            border-radius: 10px;
        } 
    
        label {
                display: block;
                margin: 10px 0 5px
            }
            
        button {
            width: 100%;
            background: #00e6e6;
            color: #0d0d0d;
            font-weight: bold;
            padding: 10px;
            border:none;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover{
            background: #00cccc;
        }

        .msg-sucesso {
            color: #00ff99;
            text-align: center;
        }
          .msg-erro {
            color: #ff5050;
            text-align: center;
        }
