body {
    font-family: "Poppins", sans-serif;
    background-color: #0d0d0d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 230, 230, 0.2);
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.container:hover {
    box-shadow: 0 0 30px rgba(0, 230, 230, 0.4);
}


select, button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

select {
    background-color: #0b0b0b;
    color: #00e6e6;
    border: 1px solid #00e6e6;
}

button {
    background-color: #00e6e6;
    color: #0d0d0d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #00b3b3;
    transform: translateY(-2px);
}


.mensagem {
    margin-top: 20px;
    color: #00e6e6;
    font-weight: bold;
    text-shadow: 0 0 10px #00e6e6;
}


.voltar {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: #00e6e6;
    font-weight: bold;
    transition: 0.3s;
}

.voltar:hover {
    color: #00b3b3;
    text-shadow: 0 0 10px #00b3b3;
}
