body {
    background-color: #000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #0d0d0d;
    border: 2px solid #4fd1ff;
    border-radius: 15px;
    padding: 30px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 20px #4fd1ff50;
}

h2 {
    margin-bottom: 20px;
    color: #4fd1ff;
}

label {
    display: block;
    margin-top: 15px;
    text-align: left;
    color: #4fd1ff;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: #1a1a1a;
    color: #fff;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4fd1ff;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #76e3ff;
}

/* Alertas e mensagens */
.alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.caixa-alerta {
    color: #4fd1ff;
    font-weight: bold;
    letter-spacing: 1px;
}


.caixa-alerta button {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #4fd1ff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
